/* #div{
    width: 3rem;
    height: 3rem;
    background-color: beige;
    text-align: center;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
}

#div:hover{
    transition-timing-function: ease-in;
    transition-duration: 2s;
    transform: scale(3.0);
    transition-delay: 2s;
}

body{
    margin: 4rem;
    display: flex;
    justify-content: center;
    place-content: center;
    align-items: center;
} */
.animation{
    display: flex;
    justify-content: center;
    place-content: center;
    align-items: center; 
}
.handall{
    display: flex;
    justify-content: center;
    place-content: center;
    align-items: center; 
    border: 2px solid black;
    padding: 2rem;
    border-radius: 9px;
    background-color: rgb(219, 219, 219);
    box-shadow:2px 2px green;
    margin: 100px;
}

.span svg:hover{
    transform: scale(1.2);
    transition-timing-function: ease-in-out;
    transition-duration: 2s;

}
